// Place all the styles related to the cars controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#brand, #model, #city {
	span{
		cursor: pointer
	}
}

.field_with_errors {
  input, select {
    padding: 1px;
    background-color: #ffbaba;
    display: table;
  }
}

#brand, #city, #model {
	strong {
		color:#0066CC;
	}
	
	span {
		margin: 7px;
		border-bottom: 1px dotted #0066CC;
		color: #0066CC;
	}
}